In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
energy = pd.read_csv("C:\\Users\\fenil\\Desktop\\St Clair\\DAB-103-Analytical Tools & Decision Making\\Project\\Dataset\\CSV\\Energy_data.csv", skiprows = 3)

energy

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,521.780681,552.363634,533.761010,544.609322,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,764.968617,687.896260,801.329975,808.455840,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1411.472920,1310.400165,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,277.833521,244.437727,328.689035,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2716.681173,2636.684726,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN
262,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,619.400803,630.331195,644.979025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,795.054503,824.242930,845.360828,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
cols = ['Country Name',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [14]:
energy_change = energy[cols].set_index('Country Name').stack().reset_index()

energy_change

     Country Name level_1           0
0          Angola    1971  637.459055
1          Angola    1972  663.452749
2          Angola    1973  635.787619
3          Angola    1974  624.110611
4          Angola    1975  586.690490
...           ...     ...         ...
7885     Zimbabwe    2009  729.379048
7886     Zimbabwe    2010  744.932536
7887     Zimbabwe    2011  795.054503
7888     Zimbabwe    2012  824.242930
7889     Zimbabwe    2013  845.360828

[7890 rows x 3 columns]

In [15]:
energy_change.rename(
    columns=({ 'Country Name': 'country', 'level_1': 'year', 0:'Energy use (kg of oil equivalent per capita)' }), 
    inplace=True,
)

energy_change

       country  year  Energy use (kg of oil equivalent per capita)
0       Angola  1971                                    637.459055
1       Angola  1972                                    663.452749
2       Angola  1973                                    635.787619
3       Angola  1974                                    624.110611
4       Angola  1975                                    586.690490
...        ...   ...                                           ...
7885  Zimbabwe  2009                                    729.379048
7886  Zimbabwe  2010                                    744.932536
7887  Zimbabwe  2011                                    795.054503
7888  Zimbabwe  2012                                    824.242930
7889  Zimbabwe  2013                                    845.360828

[7890 rows x 3 columns]

In [22]:
energy_change = energy_change.astype({"country" : str, "year" : int})

In [23]:
energy_change.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7890 entries, 0 to 7889
Data columns (total 3 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   country                                       7890 non-null   object
 1   year                                          7890 non-null   int32
 2   Energy use (kg of oil equivalent per capita)  7890 non-null   float64
dtypes: float64(1), int32(1), object(1)
memory usage: 154.2+ KB

In [20]:
energy_change.isnull().sum()

country                                         0
year                                            0
Energy use (kg of oil equivalent per capita)    0
dtype: int64

In [21]:
energy_change.to_csv('C:\\Users\\fenil\\Desktop\\St Clair\\DAB-103-Analytical Tools & Decision Making\\Project\\Dataset\\Change\\energy_change.csv')